<!-- app/templates/admin/images/images.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Images{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center; color:white">IT Analyzer Tool</h1>
        <p style="text-align:center; color:white">Please upload an image</p>
        {% if images %}
          <hr class="intro-divider">
          <div class="center">
            <img style="text-align:center" src="https://res.cloudinary.com/dft5iblyz/image/upload/v1652440435/Untitled_design_8_tjlxhg.png">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> NAME </th>
                  <th width="15%"> PREDICTION </th>
                  <th width="15%"> PERFORMANCE </th>
                  <th width="15%"> EDITION</th>
                  <th width="15%"> DELETION</th>
                </tr>
              </thead>
              <tbody>
              {% for img in images %}
                <tr>
                  <td> {{ img.name }} </td>
                  <td> {{ img.prediction }} </td>
                  <td> {{ img.out }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_img', id=img.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_img', id=img.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="littlepic gallery">
              {% for img in images %}
              <img src="{{ url_for('static', filename='uploads/' + img.img) }}" alt="">
              {% endfor %}
            </div>
          </div>
          <div style="text-align: center">
        {% else %}
            <h3> No images have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_img') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Img
          </a>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}